@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Hammersmith+One&display=swap');

html,
body {
  height: 100%;
  width: 100%;
  font-family: 'Hammersmith One', sans-serif;
}

.calendar-screen {
  display: flex;
  flex-flow: column;
  height: 100vh;
}

.calendar {
  margin: 0 1%;
}

.rbc-calendar {
  height: 100%;
}

/* Modal */
.ReactModalPortal > div {
  opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
  align-items: center;
  display: flex;
  justify-content: center;
  transition: opacity 0.2s ease-in-out;
  z-index: 999;
}

.modal-background {
  background-color: rgba(0, 0, 0, 0.3);
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  position: fixed;
}

.ReactModalPortal .ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModalPortal .ReactModal__Overlay--before-close {
  opacity: 0;
}

.modal {
  background: white;
  border-radius: 40px;
  color: rgb(51, 51, 51);
  display: inline;
  max-height: 620px;
  max-width: 500px;
  outline: none;
  padding: 10px;
}

.modal-title {
  display: flex;
  justify-content: center;
}

/* DatePicker */
.react-datetimepicker input:focus {
  outline: none;
}

.react-datetimepicker__wrapper {
  border: 0px solid gray !important;
}

/* FABS*/
.fab {
  border-radius: 100%;
  bottom: 25px;
  font-size: 30px;
  opacity: 0.94;
  padding: 25px;
  position: fixed;
  right: 25px;
  z-index: 100;
}

.fab-delete {
  border-radius: 100%;
  bottom: 25px;
  font-size: 18px;
  opacity: 0.94;
  padding: 25px 30px 25px 30px;
  position: fixed;
  left: 25px;
  z-index: 100;
}
/* FORMS */
.form-control {
  border-radius: 20px;
}

.modal-textbox {
  resize: none;
}

/* MISC */
.fourty-border {
  border-radius: 40px;
}

.logout-button {
  border-radius: 100%;
  padding: 10px 10px;
}

.fab-close {
  border-radius: 100%;
  top: 20px;
  font-size: 15px;
  padding: 0 6px;
  position: fixed;
  right: 30px;
}

/* RESPONSIVE MEDIA QUERIES */
@media only screen and (max-width: 900px) {
  .calendar {
    margin: 0 1%;
  }

  .modal-title {
    display: flex;
    font-size: 40px;
    padding-top: 20px;
    justify-content: center;
  }

  .modal {
    background: white;
    border-radius: 40px;
    color: rgb(51, 51, 51);
    display: inline;
    max-height: 620px;
    max-width: 400px;
    outline: none;
    padding: 10px;
  }
  .fab {
    border-radius: 100%;
    bottom: 20px;
    font-size: 24px;
    opacity: 0.94;
    padding: 20px;
    position: fixed;
    right: 20px;
    z-index: 100;
  }

  .fab-delete {
    border-radius: 100%;
    bottom: 20px;
    font-size: 14.4px;
    opacity: 0.94;
    padding: 20px 24px 20px 24px;
    position: fixed;
    left: 20px;
    z-index: 100;
  }
}

@media only screen and (max-width: 600px) {
  .calendar {
    margin: 0 1%;
  }

  .modal-title {
    display: flex;
    font-size: 30px;
    padding-top: 20px;
    justify-content: center;
  }

  .modal {
    background: white;
    border-radius: 40px;
    color: rgb(51, 51, 51);
    display: inline;
    max-height: 620px;
    max-width: 350px;
    outline: none;
    padding: 10px;
  }

  .fab {
    border-radius: 100%;
    bottom: 15px;
    font-size: 18px;
    opacity: 0.94;
    padding: 15px;
    position: fixed;
    right: 15px;
    z-index: 100;
  }

  .fab-delete {
    border-radius: 100%;
    bottom: 15px;
    font-size: 10.8px;
    opacity: 0.94;
    padding: 15px 18px 15px 18px;
    position: fixed;
    left: 15px;
    z-index: 100;
  }
}

@media only screen and (max-width: 400px) {
  .calendar {
    margin: 0 1%;
  }

  .modal-title {
    display: flex;
    font-size: 25px;
    padding-top: 20px;
    justify-content: center;
  }

  .modal {
    background: white;
    border-radius: 40px;
    color: rgb(51, 51, 51);
    display: inline;
    max-height: 620px;
    max-width: 300px;
    outline: none;
    padding: 10px;
  }

  .fab {
    border-radius: 100%;
    bottom: 15px;
    font-size: 18px;
    opacity: 0.94;
    padding: 15px;
    position: fixed;
    right: 15px;
    z-index: 100;
  }

  .fab-delete {
    border-radius: 100%;
    bottom: 15px;
    font-size: 10.8px;
    opacity: 0.94;
    padding: 15px 18px 15px 18px;
    position: fixed;
    left: 15px;
    z-index: 100;
  }
}
